tp2-agentes-racionales/code/tp2-agentes-racionales-86fcc92c5d7a.json
tp2-agentes-racionales/code/__pycache__
tp2-agentes-racionales/code/results.csv
tp2-agentes-racionales/code/boxplot.py

tp3-busquedas-no-informadas/code/__pycache__
tp3-busquedas-no-informadas/code/tp3-busqueda-no-informada-5406f79cbf97.json
tp3-busquedas-no-informadas/code/boxplot.py

tp4-busquedas-informadas/code/tp3-busqueda-no-informada-5406f79cbf97.json
tp4-busquedas-informadas/code/__pycache__
tp4-busquedas-informadas/code/boxplot.py