tp2-agentes-racionales/code/tp2-agentes-racionales-86fcc92c5d7a.json
tp2-agentes-racionales/code/__pycache__
tp2-agentes-racionales/code/results.csv
tp2-agentes-racionales/code/boxplot.py

tp3-busquedas-no-informadas/code/__pycache__
tp3-busquedas-no-informadas/code/tp3-busqueda-no-informada-5406f79cbf97.json
tp3-busquedas-no-informadas/code/boxplot.py

tp4-busquedas-informadas/code/tp3-busqueda-no-informada-5406f79cbf97.json
tp4-busquedas-informadas/code/__pycache__
tp4-busquedas-informadas/code/boxplot.py

tp5-busquedas-locales/code/__pycache__

tp6-csp/code/__pycache__

proyecto-final/code/__pycache__
proyecto-final/code/venv
proyecto-final/code/tests.py

proyecto-final/code/Env_old.py
proyecto-final/code/RLAgent_old.py
proyecto-final/code/csv_old
proyecto-final/code/results-images_old

proyecto-final/code/plot_episodes_vs_score_old.py
proyecto-final/code/plot_score_vs_episode_qty_old.py
proyecto-final/code/plot_tuning_results.py